@import "tailwindcss";

/* Tooltip styles */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: help;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: black;
  color: white;
  text-align: left;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1500;
  bottom: 125%;
  left: 50%;
  margin-left: -150px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 85%;
  line-height: 15px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.font-anta {
  font-family: 'Anta', sans-serif !important;
}